<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="src/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <link
            href="https://p5js.org/favicon.ico?"
            rel="icon"
            type="image/x-icon"
        />

        <title>New Sketch</title>
    </head>
    <body>
        <script type="module" src="src/main.ts" defer></script>
        <main id="p5-container"></main>
    </body>
</html>
